* {
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
  color: white;
}

h1 {
  text-align: center;
}

[wm-flappy] {
  position: relative;

  width: 1200px;
  height: 700px;

  overflow: hidden;

  border: 5px solid dodgerblue;
  background-color: deepskyblue;
}

.passaro {
  position: absolute;
  width: 60px;
  left: calc(50% - 30px);
}

.parDeBarreiras1 {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barreira {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barreira .borda {
  height: 30px;
  width: 130px;
  background: linear-gradient(90deg, #639301, #a5e82e);
  border: 2px solid black;
}

.barreira .corpo {
  height: 150px;
  width: 110px;
  background: linear-gradient(90deg, #639301, #a5e82e);
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.progresso {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Tiny5", sans-serif;
  font-size: 70px;
  z-index: 100;
}